name: VoiceFixer_Final_Package
on:
  workflow_dispatch:

jobs:
  download_all:
    runs-on: ubuntu-latest
    steps:
      - name: Prep Folders
        run: |
          mkdir -p synthesis_module/44100
          mkdir -p analysis_module/checkpoints
          mkdir -p restorer
          
      - name: Download Vocoder
        run: curl -L "https://zenodo.org/record/5469951/files/model.ckpt-1490000_trimed.pt?download=1" -o synthesis_module/44100/model.ckpt-1490000_trimed.pt
          
      - name: Download Analysis
        run: curl -L "https://zenodo.org/record/5600188/files/vf.ckpt?download=1" -o analysis_module/checkpoints/vf.ckpt

      - name: Download Restorer
        run: curl -L "https://zenodo.org/record/5609162/files/voicefixer.ckpt?download=1" -o restorer/voicefixer.ckpt
      
      - name: Zip it
        uses: actions/upload-artifact@v4
        with:
          name: VoiceFixer_All_Weights
          path: |
            synthesis_module/
            analysis_module/
            restorer/
